.vertical_middle{
    min-height: inherit;
    display: table-cell;
    vertical-align: bottom;
}
.label{
    font-weight: bold;
    color: #707070;
}
.row_dob{
    background-color: #fefeb1;
    padding: 6px;
    border: 4px solid snow;
    border-radius: 4px;
}
.row_specialization{
    background-color: #ebf3f4;
    padding: 20px;
}
ul{
    list-style: none;
    padding-left: 0;
}
li{
    padding-bottom: 5px;
}
a{
    padding-bottom: 3px;
}
.student_name{
    color: #0000ff;
}
h3{
    font-size: 20px !important;
}
.watermark{
    float: right;
    /* z-index: -999; */
    opacity: .4;
}
.watermark img{
    position: absolute;
    z-index: -10;
    right: 5%;
    height: 400px;
    width: 270px;
    opacity: 0.5;
}